version: '3.8'

services:
# Servicio Nginx
  web:
    image: nginx:latest
    container_name: nginx
    ports: 
      - "8080:80"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ./app:/var/www/html
    depends_on:
      - php
    networks:
      - app-networks

# PHP-FPM Servicio
  php:
    image: php:7.4-fpm
    container_name: php-fpm
    volumes:
      - ./app:/var/www/html
    networks:
    - app-networks

  db:
    image: mysql:5.7
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - app-network

    networks:
      app-network:
        driver: bridge
    
    volumes:
      db-data: